<div id="changesets">
	<div id="changesets-top-bar">
		<div id="from-control">
			<label>From:</label>
			<input ng-model="fromDate" type="date" />
		</div>
		<div id="to-control">
			<label>To:</label>
			<input ng-model="toDate" type="date" />
		</div>
		<div id="users-control">
			<label>User:</label>
			<input mg-model="dbUser" type="text" />
		</div>
		<div id="affected-columns-control">
			<label>Affected collumns:</label>
			<div id="multiselector" isteven-multi-select input-model="tableColumns" output-model="selectedTableColumns" item-label="name" tick-property="ticked" button-label="name">
			</div>
		</div>
	</div>
	<hr />
	<div id="changesets-content">
		<div id="changesets-grid" ui-grid="gridOptions" ui-grid-selection class="grid"></div>
	</div>
	<hr/>
	<div id="changeset-details">
		<table id="changeset-details-table" style="width:{{ sampleChengesetDetail.priorValues.length * 147 + 147 }}px">
			<thead>
			<tr>
				<th ng-repeat="column in sampleChengesetDetail.priorValues">{{ column.key }}</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td ng-repeat="column in sampleChengesetDetail.priorValues">{{ column.value }}</td>
			</tr>
			<tr>
				<td ng-repeat="column in sampleChengesetDetail.updatedValues">{{ column.value }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>