<div id="changesets">
	<div id="changesets-top-bar">
		<div id="from-control">
			<label>From:</label>
			<input type="date" />
		</div>
		<div id="to-control">
			<label>To:</label>
			<input type="date" />
		</div>
		<div id="users-control">
			<label>User:</label>
			<input type="text" />
		</div>
		<div id="affected-columns-control">
			<label>Affected collumns:</label>
			<div id="multiselector" isteven-multi-select input-model="tableColumns" output-model="selectedTableColumns" item-label="name" tick-property="ticked" button-label="name">
			</div>
		</div>
	</div>
	<hr />
	<div id="changesets-content">
		<div id="changesets-grid" ui-grid="{ data: changesets, columnDefs: changesetGridColumnsDefinition }" class="grid"></div>
	</div>
</div>